/* 
  Custom styles, some of which override ratchet.css 
*/

body {
  color: #444;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* list styles */
.list li {
  padding: 20px 60px 20px 14px; /* Given extra right padding to accomodate counts, chevrons or buttons */
  font-size: 16px;
  font-weight: bold;
}

.list li#payments {
  padding-top: 20px;
  padding-bottom: 20px;
}

.list .list-divider,
.list li#payments.list-divider,
.list li#summary.list-divider {
  padding-top: 4px;
  padding-bottom: 4px;
}

a li#payments {
  color: #444;
}

.list .payment.price:before {
  content: '$';
}

.list .payment.item {
  font-size: 16px;
  line-height: 16px;
  padding-bottom: 6px;
  font-weight: bold;
}

.list .payment.person {
  color: #959DA5;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
}

li#group {
  padding-top: 18px;
  padding-bottom: 18px;
  height: 56px;
}

.group.number {
  font-weight: 500;
  color: #959DA5;
  padding-left: 6px;
}

.group.members {
  padding-top: 8px;
}

.group.members img {
  width: 32px;
  margin-right: 1px;
}

.add.li {
  padding: 9px 4px 8px;
}

.add.input {
  border: 0;
  box-shadow: 0 0 0;
/*  height: 31px;*/
  margin: 0;
  color: inherit;
  font-weight: 500;
}

::-webkit-input-placeholder {
  color: #aaa;
  font-weight: normal;
}
:-moz-placeholder {
  color: #aaa;
  font-weight: normal;
}
:-ms-input-placeholder {
  color: #aaa;
  font-weight: normal;
}

/* Push count over if there's a sibling chevron */
.list .chevron + [class*="count"] {
  right: 38px;
}

.list .summary.person {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -38px;
}

.list .payment.price {
  position: absolute;
  top: 50%;
  right: 36px;
  margin-top: -14px;
  font-size: 26px;
  line-height: 28px;
  font-weight: bold;
}

.list .group.edit {
  position: absolute;
  top: 0;
  right: 32px;
  padding: 16px 4px 0;
  margin: 0 0 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  color: #959DA5;
  cursor: pointer;
}
.list .group.edit:before {
  content: 'Edit';
}

.list .avatar img {
  position: absolute;
  top: 50%;
  left: 0;
  height: 58px;
  width: 58px;
  margin-top: -30px;
}

.list .group.member {
  margin-left: 58px;
}

.list .plus-avatar:after {
}

.segmented-controller li > a {
  color: #444;
}

/* summary */
.list li.amounts {
  padding: 0;
  height: 78px;
}
.summary.person img {
  position: absolute;
  top: 50%;
  left: 0;
  height: 79px;
  width: 79px;
  margin-top: -2px;
}
.amounts .paid, 
.amounts .should-pay,
.amounts .net,
.amounts .owes {
	 position: absolute;
	 top: 50%;
	 margin-top: -25px;
	 font-size: 14px;
	 font-weight: 500;
	 color: #959DA5;
}
.amounts .paid:after {
  content: 'Paid';
}
.amounts .should-pay:after {
  content: 'Share';
}
.amounts .net:after {
  content: 'Balance';
}
#summary .paid,
.summary.owes {
  left: 23%;
}
#summary .should-pay {
  left: 47%;
}
#summary .net {
  left: 71%;
}
.amount {
	font-size: 20px;
	line-height: 28px;
	color: #444;
	font-weight: bold;
}
.amount:before {
  content: '$';
}
.amount.net-amount {
}
.plus {
  color: green;
}
.minus {
  color: red;
}
.minus:before {
  content: '\2013$'; /* ndash */
}

.button.remind, .button.settle {
  font-size: 14px;
  font-weight: 500;
}