/*
  Layer of visual design, many of which override ratchet.css
*/

/* Change blue title bar to black */
.bar-title {
  top: 0;
  display: -webkit-box;
  display: box;
  background-color: #333;
  background-image: -webkit-linear-gradient(top, #333 0, #2a2a2a 100%);
  background-image: linear-gradient(to bottom, #333 0, #2a2a2a 100%);
  border-bottom: 1px solid #2a2a2a;
  box-shadow: inset 0 1px 1px -1px rgba(255, 255, 255, .8);
  -webkit-box-orient: horizontal;
          box-orient: horizontal;
}
.bar-title [class*="button"] {
  position: relative;
  z-index: 10;
  font-size: 12px;
  line-height: 23px;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
  background-color: #222;
  background-image: -webkit-linear-gradient(top, #222 0, #222 100%);
  background-image: linear-gradient(to bottom, #222 0, #222 100%);
  border: 1px solid #111;
  box-shadow: 0 1px rgba(255, 255, 255, .25);
  -webkit-box-flex: 0;
          box-flex: 0;
}
/* Override standard button active states */
.bar-title .button:active {
  color: #fff;
  background-color: #1c1c1c;
}

.bar-title .button-clear,
.bar-title .button-clear:active {
  background-color: transparent;
  background-image: none;
  background-image: none;
  border: 0px solid #111;
  box-shadow: 0 0px rgba(255, 255, 255, .25);
}

/* Pointed part of directional button */
.bar-title .button-prev:before,
.bar-title .button-next:before {
  position: absolute;
  top: 2px;
  width: 27px;
  height: 27px;
  border-radius: 30px 100px 2px 40px / 2px 40px 30px 100px;
  content: '';
  box-shadow: inset 1px 0 #111, inset 0 1px #111;
  -webkit-mask-image: -webkit-gradient(linear, left top, right bottom, from(#000), color-stop(.33, #000), color-stop(.5, transparent), to(transparent));
                  mask-image: gradient(linear, left top, right bottom, from(#000), color-stop(.33, #000), color-stop(.5, transparent), to(transparent));
}
.bar-title .button-prev:before {
  left: -5px;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#222), to(#333));
  background-image: gradient(linear, left bottom, right top, from(#222), to(#333));
  border-left: 1.5px solid rgba(255, 255, 255, .25);
  -webkit-transform: rotate(-45deg) skew(-10deg, -10deg);
          transform: rotate(-45deg) skew(-10deg, -10deg);
}
.bar-title .button-next:before {
  right: -5px;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#333), to(#222));
  background-image: gradient(linear, left bottom, right top, from(#333), to(#222));
  border-top: 1.5px solid rgba(255, 255, 255, .25);
  -webkit-transform: rotate(135deg) skew(-10deg, -10deg);
          transform: rotate(135deg) skew(-10deg, -10deg);
}

/* Active states for the directional buttons */
.bar-title .button-prev:active,
.bar-title .button-next:active,
.bar-title .button-prev:active:before,
.bar-title .button-next:active:before {
  color: #fff;
  background-color: #1c1c1c;
  background-image: none;
}

/* Plus/minus colors */
.plus {
  color: #3EB87A;
}
.minus {
  color: #FF5B54;
}

/* List dividers */
.list .list-divider {
  position: relative;
  top: -1px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  text-shadow: 0 0px 0 rgba(255, 255, 255, .5);
  border-top: 1px solid rgba(0, 0, 0, .1);
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, .4);
  color: #fff;
}
/* Generic bar for wrapping buttons, segmented controllers, etc. */
.bar-standard {
/*  border-bottom: 1px solid #aaa;
  box-shadow: inset 0 1px 1px -1px #fff;*/
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  box-shadow: inset 0 0px 0px rgba(255, 255, 255, .4);
}
.list .list-divider, .bar-standard, [class*="button"] {
/*  background-color: #C2C7CC;
  background-image: -webkit-linear-gradient(top, #C2C7CC 0, #C2C7CC 100%);
  background-image: linear-gradient(to bottom, #C2C7CC 0, #C2C7CC 100%);*/
  background-color: #BFC5CB;
  background-image: -webkit-linear-gradient(top, #BFC5CB 0, #BFC5CB 100%);
  background-image: linear-gradient(to bottom, #BFC5CB 0, #BFC5CB 100%);
}

.list .list-divider,
.list li#payments.list-divider,
.list li#summary.list-divider {
  padding-top: 3px;
  padding-bottom: 3px;
}

/* Background for lists */
.list li,
select,
textarea,
input[type="text"],
input[type=search],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="color"],
.input-group {
  background: #F4F5F7;
  -webkit-appearance: none; /* get rid of border style */
  -moz-appearance: none;
  appearance: none; 
}

.list li.click:active {
  background: #EAEDF0;
}

/* Get rid of inset box shadow */
select,
textarea,
input[type="text"],
input[type=search],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="color"],
.input-group {
  box-shadow: 0 0px 0px rgba(255, 255, 255, .2), inset 0 0px 0px rgba(0, 0, 0, .1);
}
/* Font size and line height of search */
input[type=search] {
  height: 34px;
  border-radius: 30px;
  font-size: 16px;
  line-height: 24px;
}
/* Search bar */
.bar-standard input[type=search] {
  background: #fff;
}
/* Move secondary header up 1 pixel */
.bar-header-secondary {
  top: 44px;
}

/* Buttons */
[class*="button"] {
  position: relative;
  display: inline-block;
  padding: 4px 12px;
  margin: 0;
  font-weight: bold;
  line-height: 18px;
  color: #fff;
  text-align: center;
  text-shadow: 0 0px 0 rgba(255, 255, 255, 0.5);
  vertical-align: top;
  cursor: pointer;
  border: 0px solid rgba(0, 0, 0, .3);
  border-radius: 3px;
  box-shadow: inset 0 0px 0px rgba(255, 255, 255, .4), 0 0px 0px rgba(0, 0, 0, .05);
}
[class*="button"]:active {
  padding-top: 5px;
  padding-bottom: 3px;
  color: #fff;
  background-color: #A6ACB2;
  background-image: none;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, .2);
}
.button-block {
  display: block;
  padding: 11px 0 13px;
  margin-bottom: 10px;
  font-size: 16px;
  margin-left: 10px;
  margin-right: 10px;
}

/* Active state for block level buttons */
.button-block:active {
  padding: 12px 0;
}

/* Negative button  */
.button-negative {
  background-color: #FF5B54;
  background-image: -webkit-linear-gradient(top, #FF5B54 0,#FF5B54 100%);
  background-image: linear-gradient(to bottom, #FF5B54 0, #FF5B54 100%);
  border: 0px solid #b51a1a;
}
.button-negative:active {
  background-color: #CC4943;
}
.button-positive {
  background-color: #3EB87A;
  background-image: -webkit-linear-gradient(top, #3EB87A 0,#3EB87A 100%);
  background-image: linear-gradient(to bottom, #3EB87A 0, #3EB87A 100%);
  border: 0px solid #349C67;
}
.button-positive:active {
  background-color: #2E8F53;
}
.button-main {
  background-color: #9198A0;
  background-image: -webkit-linear-gradient(top, #9198A0 0,#9198A0 100%);
  background-image: linear-gradient(to bottom, #9198A0 0, #9198A0 100%);
  border: 0px solid #b51a1a;
}
.button-main:active {
  background-color: #787E85;
}

/* Move right-aligned list contents over 1 pixel */
.list .chevron,
.list [class*="button"],
.list [class*="count"],
.list .toggle {
  right: 12px;
}

/* Base styles for both 1/2's of the chevron */
.chevron:before,
.chevron:after {
/*  background-color: #959DA5;*/
  background-color: #BFC5CB;
}

/* Segmented controller */
[class*="bar-"] .segmented-controller {
/*  margin-bottom: 0;*/
  margin: 2px 2px 0;
}

.segmented-controller {
  display: -webkit-box;
  display: box;
  margin-bottom: 10px;
  overflow: hidden;
/*  font-size: 14px;*/
  font-weight: bold;
  text-shadow: 0 0px rgba(255, 255, 255, .5);
  list-style: none;
  background-color: #D6DBDF;
  background-image: -webkit-linear-gradient(top, #D6DBDF 0, #D6DBDF 100%);
  background-image: linear-gradient(to bottom, #D6DBDF 0, #D6DBDF 100%);
  border: 0px solid #aaa;
  border-radius: 3px;
  box-shadow: inset 0 0px rgba(255, 255, 255, 0.5), 0 0px rgba(255, 255, 255, .8);
  -webkit-box-orient: horizontal;
          box-orient: horizontal;
}

/* Section within controller */
.segmented-controller li {
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  border-left: 0px solid #aaa;
  box-shadow: inset 0px 0 rgba(255, 255, 255, .5);
  -webkit-box-flex: 1;
          box-flex: 1;
  height: 30px;
}

/* Link that fills each section */
.segmented-controller li > a {
  display: block;
  padding: 8px 16px;
  overflow: hidden;
  line-height: 14px;
  color: #aaa;
  text-overflow: ellipsis;
}
.segmented-controller li.active > a {
  color: #fff;
}

/* Remove border-left and shadow from first section */
.segmented-controller li:first-child {
  border-left-width: 0;
  box-shadow: none;
}

/* Active segment of controller */
.segmented-controller li.active {
  background-color: #9198A0;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

a#summary-button, a#payments-button {
  width: 120px;
  margin-left: auto;
  margin-right: auto;
}

/* Less padding on header buttons */
.bar-title [class*="button"] {
  padding: 4px 8px;
}
.bar-title [class*="button"]:active {
  padding-top: 5px;
  padding-bottom: 3px;
}
.button-remove {
  padding: 8px 0 0px;
  background: transparent;
  color: #BFC5CB;
}
.button-remove:active {
  padding-top: 9px;
  padding-bottom: -1px;
  background: transparent;
  color: #9CA2A8;
}

/* Padding on settle button */
.button.settle, .button.remind {
}

/* Margin bottom for lists */
.list {
  margin-bottom: 0px;
}

/* button-block */
.content-padded-custom {
  padding: 20px 0px 10px;
  background: #EAEDF0;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, .4);
}
/*.content-modal {
  background: #CFD5DA;
  background: #EAEDF0;
  color: #fff;
  color: #959DA5;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, .1);
}
.content-modal p {
  padding: 0 10px 20px;
}*/

/* modal */
/*#modal {
  position: fixed;
  width: 100%;
  bottom: -228px;
  left: 50%;
  margin: 0 0 0 -50%;
  pointer-events: none;
  -webkit-transition: -webkit-transform .08s ease-in-out;
          transition:         transform .08s ease-in-out;
}
.modalOpen header,
.modalOpen #page-wrap {
  opacity: 0.3;
  filter: alpha(opacity=30);
  pointer-events: none;
  -webkit-transition: opacity .08s ease-in-out;
          transition: opacity .08s ease-in-out;
}
.modalOpen,
.modalOpen .content {
  background: #000;
}
.modalOpen #modal {
  pointer-events: auto;
  -webkit-transform: translateY(-228px);
          transform: translateY(-228px);
}*/

/* empty members */
.list .empty-members {
  color: #999;
  font-weight: 500;
}