<% include header.html %>

<header class="bar-title">
  <a class="button" href="javascript:history.go(-1)" data-transition="slide-out">
      Cancel
    </a>
  <h1 class="title"><%= pageTitle %></h1>
  <a class="button" href="javascript:history.go(-1)" data-transition="fade">
      Save
    </a>
</header>

<div class="content">
  <ul class="list">
    <li class="list-divider">Date</li>
    <li class="add li">
      <form>
        <input type="date" class="add input" placeholder="Select date" autofocus="autofocus">
      </form>
    </li>
    <li class="list-divider">Amount</li>
    <li class="add li">
      <form>
        <input type="tel" class="add input" placeholder="Enter amount">
      </form>
    </li>
    <li class="list-divider">Description</li>
    <li class="add li">
      <form>
        <input type="text" class="add input" placeholder="Enter description">
      </form>
    </li>
    <li class="list-divider">Who paid</li>
    <li>
      No one
      <span class="chevron"></span>
    </li>
    <li class="list-divider">Split among</li>
    <li>
      Everyone
      <span class="chevron"></span>
    </li>
  </ul>
</div>

<% include footer.html %>