<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <title>Splitter</title>
  
  <!-- Set initial viewport load and disable zooming  -->
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  
  <!-- Make prototype chrome-less once bookmarked to your phone's home screen -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  
  <!-- Set Apple icons for when prototype is saved to home screen -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/touch-icons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/touch-icons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/touch-icons/apple-touch-icon-57x57.png">
  
  <!-- CSS -->
  <link rel="stylesheet" href="/css/ratchet.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/visual.css">
  
  <!-- JS -->
  <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
  <script src="/js/ratchet.js"></script>
  
</head>
<body>